// DEFINE SASS VARIABLES HERE

// Colors
$color-bg: #3c5556;
$color-bg-dark: #1c2e4a;
$color-grey-light: #4c6b6b;
$color-white: #FEFCFF;

// Fonts
$font-family: 'Roboto', sans-serif;
$font-family-alt: 'Inter', monospace;

// Font Sizes
$font-size-1: 1.2rem;
$font-size-2: 1.5rem;
$font-size-3: 2rem;
$font-size-4: 2.5rem;
$font-size-5: 3.5rem;
